<odoo>
	<data>
        <!-- 按钮 -->
        <menuitem name="生产"
			id="fsn_production_root"
			web_icon="fsn_production,static/description/icon.png"
			sequence="10"/>

			<!-- 菜单按钮 -->
			<menuitem id="fsn_production_homework_menu" name="作业" parent="fsn_production_root" sequence="10"/>

				<!-- 菜单按钮 -->
				<menuitem id="manufacturing_order_menu"
					name="生产工单"
					parent="fsn_production_homework_menu"
					action="manufacturing_order_action"
					sequence="10"/>
				<!-- 菜单按钮 -->
				<menuitem id="manufacturing_order_line_menu"
					name="生产工单明细"
					parent="fsn_production_homework_menu"
					action="manufacturing_order_line_action"
					sequence="20"/>
			<!-- 菜单按钮 -->
			<menuitem id="fsn_production_setting_menu" name="设置" parent="fsn_production_root" sequence="90"/>

				<!-- 菜单按钮 -->
				<menuitem id="manufacturing_bom_default_menu"
					name="物料清单(预设)"
					parent="fsn_production_setting_menu"
					action="manufacturing_bom_default_action"
					sequence="10"/>
	</data>
</odoo>