<odoo>
    <data>
        <menuitem id="menu_warehouse_management_root"
                name="仓库管理"
                web_icon="warehouse_management,static/description/icon.png"
                sequence="2"/>

        <menuitem id="menu_warehouse_management_line"
                name="仓库管理"
                parent="menu_warehouse_management_root"
                sequence="10"/>
                <menuitem id="menu_ware_management"
                        name="仓库管理"
                        parent="menu_warehouse_management_line"
                        action="warehouse_management_action"
                        sequence="10"/>

                <menuitem id="menu_inbound_outbound"
                        name="入库与出库数量"
                        parent="menu_warehouse_management_line"
                        action="inbound_outbound_action"
                        sequence="20"/>

                <menuitem id="menu_mian_fu_liao_bu_liao"
                        name="面辅料补料单"
                        parent="menu_warehouse_management_line"
                        action="mian_fu_liao_bu_liao_action"
                        sequence="40"/>
        <menuitem id="menu_finished_product"
			name="成品仓管理"
			parent="menu_warehouse_management_root"
			sequence="20"/>
                <menuitem id="menu_finished_product_ware"
					name="成品仓管理"
					parent="menu_finished_product"
					action="finished_product_ware_action"
					sequence="10"/>
                <menuitem id="menu_finished_product_ware_line"
					name="成品仓管理明细"
					parent="menu_finished_product"
					action="finished_product_ware_line_action"
					sequence="10"/>
                <menuitem id="menu_finished_inventory"
					name="成品仓库存"
					parent="menu_finished_product"
					action="finished_inventory_action"
					sequence="30"/>

        <menuitem id="menu_plus_material"
                name="仓库面料管理"
                parent="menu_warehouse_management_root"
                sequence="25"/>
            <menuitem id="menu_plus_material_enter"
                    name="仓库面料(入库)"
                    parent="menu_plus_material"
                    action="plus_material_enter_action"
                    sequence="10"/>
            <menuitem id="menu_plus_material_outbound"
                    name="仓库面料(出库)"
                    parent="menu_plus_material"
                    action="plus_material_outbound_action"
                    sequence="20"/>
            <menuitem id="menu_plus_material_inventory"
                    name="仓库面料(库存)"
                    parent="menu_plus_material"
                    action="plus_material_inventory_action"
                    sequence="30"/>
            <menuitem id="menu_spare_fabric_enter"
                    name="备用面料(入库)"
                    parent="menu_plus_material"
                    action="spare_fabric_enter_action"
                    sequence="40"/>
            <menuitem id="menu_spare_fabric_out"
                    name="备用面料(出库)"
                    parent="menu_plus_material"
                    action="spare_fabric_out_action"
                    sequence="50"/>
            <menuitem id="menu_spare_fabric_inventory"
                    name="备用面料(库存)"
                    parent="menu_plus_material"
                    action="spare_fabric_inventory_action"
                    sequence="60"/>
            <menuitem id="menu_plus_material_list"
                    name="仓库面料清单"
                    parent="menu_plus_material"
                    action="plus_material_list_action"
                    sequence="70"/>

        <menuitem id="menu_warehouse_bom"
                name="仓库物料管理"
                parent="menu_warehouse_management_root"
                sequence="30"/>
            <menuitem id="menu_warehouse_bom_ruku"
                    name="仓库物料(入库)"
                    parent="menu_warehouse_bom"
                    action="warehouse_bom_action"
                    sequence="10"/>
            <menuitem id="menu_warehouse_bom_outbound"
                    name="仓库物料(出库)"
                    parent="menu_warehouse_bom"
                    action="warehouse_bom_outbound_action"
                    sequence="20"/>
            <menuitem id="menu_warehouse_bom_inventory"
                    name="仓库物料(库存)"
                    parent="menu_warehouse_bom"
                    action="warehouse_bom_inventory_action"
                    sequence="30"/>
            <menuitem id="menu_spare_material_enter"
                    name="备用物料(入库)"
                    parent="menu_warehouse_bom"
                    action="spare_material_enter_action"
                    sequence="40"/>
            <menuitem id="menu_spare_material_out"
                    name="备用物料(出库)"
                    parent="menu_warehouse_bom"
                    action="spare_material_out_action"
                    sequence="50"/>
            <menuitem id="menu_spare_material_inventory"
                    name="备用物料(库存)"
                    parent="menu_warehouse_bom"
                    action="spare_material_inventory_action"
                    sequence="60"/>
            <menuitem id="menu_material_list"
                    name="仓库物料清单"
                    parent="menu_warehouse_bom"
                    action="material_list_action"
                    sequence="70"/>
        <!-- <menuitem id="menu_production_operation_ingredients"
                name="仓库生产工具管理"
                parent="menu_warehouse_management_root"
                sequence="40"/>
            <menuitem id="menu_production_operation_ingredients_enter"
                    name="仓库生产工具(入库)"
                    parent="menu_production_operation_ingredients"
                    action="production_operation_ingredients_enter_action"
                    sequence="10"/>
            <menuitem id="menu_production_operation_ingredients_inventory"
                    name="仓库生产工具(库存)"
                    parent="menu_production_operation_ingredients"
                    action="production_operation_ingredients_inventory_action"
                    sequence="30"/>
            <menuitem id="menu_production_operation_ingredients_outbound"
                    name="仓库生产工具(出库)"
                    parent="menu_production_operation_ingredients"
                    action="production_operation_ingredients_outbound_action"
                    sequence="20"/>
            <menuitem id="menu_production_operation_ingredients_list"
                    name="仓库生产工具清单"
                    parent="menu_production_operation_ingredients"
                    action="production_operation_ingredients_list_action"
                    sequence="40"/> -->
        <menuitem id="menu_statistics_root"
			name="统计"
			parent="menu_warehouse_management_root"
			sequence="100"/>
                <menuitem id="menu_customer_repair"
					name="客户返修"
					parent="menu_statistics_root"
					action="customer_repair_line_action"
					sequence="10"/>
                <menuitem id="menu_finished_product_warehouse_statistical"
					name="成品仓统计"
					parent="menu_statistics_root"
					action="finished_product_warehouse_statistical_action"
					sequence="20"/>
                <menuitem id="menu_finished_inventory_actionstatistics"
					name="成品仓月库存"
					parent="menu_statistics_root"
					action="finished_inventory_month_action"
					sequence="30"/>
                <menuitem id="menu_plus_material_inventory_month"
					name="面料仓月库存"
					parent="menu_statistics_root"
					action="plus_material_inventory_month_action"
					sequence="40"/>
                <menuitem id="menu_spare_fabric_inventory_month"
					name="备用面料仓月库存"
					parent="menu_statistics_root"
					action="spare_fabric_inventory_month_action"
					sequence="50"/>
                <menuitem id="menu_warehouse_bom_inventory_month"
					name="物料仓月库存"
					parent="menu_statistics_root"
					action="warehouse_bom_inventory_month_action"
					sequence="60"/>
                <menuitem id="menu_spare_material_inventory_month"
					name="备用物料仓月库存"
					parent="menu_statistics_root"
					action="spare_material_inventory_month_action"
					sequence="70"/>
                


    </data>
</odoo>