<odoo>
  	<data>
        <!-- 按钮 -->
        <menuitem
            id="planning_menu_schedule_by_staff_group"
            name="计划"
            sequence="1"
            parent="planning.planning_menu_root"
            />
            <menuitem
                id="fsn_day_plan_menu"
                name="日计划"
                sequence="10"
                parent="planning_menu_schedule_by_staff_group"
                action="fsn_plan_actions"/>
            <menuitem
                id="fsn_month_plan_menu"
                name="月计划"
                sequence="20"
                parent="planning_menu_schedule_by_staff_group"
                action="fsn_month_plan_actions"/>
        <menuitem
            id="target_output_value_menu"
            name="目标产值"
            sequence="2"
            parent="planning.planning_menu_root"/>
            <menuitem
                id="fsn_middle_management_menu"
                name="中层管理"
                sequence="10"
                parent="target_output_value_menu"
                action="target_output_value_actions"/>
            <menuitem
                id="fsn_top_management_menu"
                name="高层管理"
                sequence="20"
                parent="target_output_value_menu"
                action="target_output_value_top_actions"/>
            <menuitem
                id="fsn_send_out_management_menu"
                name="外发管理"
                sequence="30"
                parent="target_output_value_menu"
                action="send_out_output_value_actions"/>
            <menuitem
                id="fsn_quality_control_management_menu"
                name="品控管理"
                sequence="40"
                parent="target_output_value_menu"
                action="quality_control_output_value_actions"/>
            <menuitem
                id="fsn_quality_control_dep_management_menu"
                name="品控部管理"
                sequence="50"
                parent="target_output_value_menu"
                action="quality_control_dep_output_value_action"/>
            <menuitem
                id="fsn_technology_management_menu"
                name="技术科管理"
                sequence="60"
                parent="target_output_value_menu"
                action="technology_output_value_actions"/>
            <menuitem
                id="personnel_manage_menu"
                name="人事管理"
                sequence="70"
                parent="target_output_value_menu"
                action="personnel_manage_actions"/>
            <menuitem
                id="develop_manage_menu"
                name="开发管理"
                sequence="80"
                parent="target_output_value_menu"
                action="develop_manage_actions"/>
            
        <!-- 按钮 -->
        <!-- <menuitem
            id="fsn_plan_setting"
            name="FSN计划设置"
            sequence="2"
            parent="planning.planning_menu_root"/>
            <menuitem
                id="fsn_plan_create"
                name="FSN计划创建"
                sequence="10"
                parent="fsn_plan_setting"
                action="fsn_plan_wizard_action"/> -->
  	</data>
</odoo>