<odoo>
    <data>
        <menuitem id="menu_employee_information_detection"
            name="自检"
            parent="hr.menu_hr_root"
            sequence="99"/>
            <menuitem id="menu_allowance_subsidy"
                name="津贴补助"
                parent="menu_employee_information_detection"
                sequence="10"/>
                <menuitem id="menu_allowance_subsidy_detection"
                    name="津贴补助检测"
                    parent="menu_allowance_subsidy"
                    action="allowance_subsidy_detection_action"
                    sequence="10"/>
                <menuitem id="menu_allowance_subsidy_setting"
                    name="津贴补助设置"
                    parent="menu_allowance_subsidy"
                    action="allowance_subsidy_setting_action"
                    sequence="100"/>

        <menuitem id="menu_non_professional_personnel"
            name="员工"
            parent="hr.menu_hr_root"
            sequence="100"/>
            <menuitem id="menu_temporary_workers_apply_non_professional"
                name="临时工申请"
                parent="menu_non_professional_personnel"
                action="temporary_workers_apply_action"
                groups="fsn_employee.fsn_non_professional_personnel"
                sequence="10"/>

    </data>
</odoo>